<!-- Education section -->
<section id="education" class="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center ">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="title-section">Formations et diplômes</h3>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Master 2 professionnel Informatique TI</h3>
                        <span class="company">
                            <a href="http://fst-informatique.univ-lyon1.fr/">Université Claude Bernard</a>, Lyon</a>
                        </span>
                    </div>
                    <div class="col-lg-4 calendar">
                        <div class="col-lg-2">
                            <i class="fa fa-calendar fa-2x"></i>
                        </div>
                        <div class="col-lg-10">
                            <span>Septembre 2014</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Licence Mathématique & Informatique</h3>
                        <span class="company">
                            <a href="https://mathinfo.unistra.fr/">UFR Mathématique et Informatique</a>, Strasbourg</a>
                        </span>
                    </div>
                    <div class="col-lg-4 calendar">
                        <div class="col-lg-2">
                            <i class="fa fa-calendar fa-2x"></i>
                        </div>
                        <div class="col-lg-10">
                            <span>Juin 2012</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h3>DUT informatique</h3>
                        <span class="company"><a href="http://iutrs.unistra.fr/">IUT Illkirch</a>, Strasbourg</a></span>
                    </div>
                    <div class="col-lg-4 calendar">
                        <div class="col-lg-2">
                            <i class="fa fa-calendar fa-2x"></i>
                        </div>
                        <div class="col-lg-10">
                            <span>Juin 2008</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>