<!-- XP Section -->
<section class="xp" id="xp">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
        </span>
                <h3 class="title-section">Expériences</h3>
            </div>
            <div class="col-lg-9">
                <div class="row xp-row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-10 col-sm-8">
                                <h3>Analyste/Programmeur</h3>
                                <p class="company"><a href="http://www.google.fr">Sopra-Steria</a>, Lyon</a></p>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <img src="img/company/sopra.png" class="img-responsive" alt="inova software">
                            </div>
                        </div>
                        <p class="company-desc">Développement de modules pour la solution de gestion immobilière IKOS.</p>
                        <span class="company-env">J2EE, Struts</span>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-2">
                                <i class="fa fa-calendar fa-2x"></i>
                            </div>
                            <div class="col-lg-10">
                                Avril 2012 - Présent
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row xp-row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-10 col-sm-8">
                                <h3>Analyste/Programmeur - Stage</h3>
                                <span class="company"><a href="http://www.google.fr">WorldLine by Atos</a>, Lyon</a></span>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <img src="img/company/wl.png" class="img-responsive" alt="inova software">
                            </div>
                        </div>
                        <p class="company-desc">Développement d’une console d’exploitation pour une application de gestion de flotte poids lourds en vue de l’écotaxe.</p>
                        <p class="company-desc">Maquettage d’une application de gestion de parc véhicules légers orientée éco-conduite.</p>
                        <ul class="list-inline">
                            <li>J2EE</li>
                            <li>Resthub</li>
                            <li>Spring</li>
                            <li>BackBoneJS</li>
                            <li>EmberJS</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-2">
                                <i class="fa fa-calendar fa-2x"></i>
                            </div>
                            <div class="col-lg-10">
                                Mars 2014 - Septembre 2014 <br /> (6 mois)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row xp-row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-10 col-sm-8">
                                <h3>Analyste/Programmeur - Stage</h3>
                                <span class="company"><a href="http://www.google.fr">Lumapps-gPartner</a>, Lyon</a></span>
                            </div>
                            <div class="col-lg-2 col-sm-4">
                                <img src="img/company/lumapps.png" class="img-responsive" alt="lumapps">
                            </div>
                        </div>
                        <p class="company-desc">Développement d’une application Android et web de gestion des notes de frais.</p>
                        <p class="company-desc">Synchronisation mobile et application web à l’aide des endpoints.</p>
                        <ul class="list-inline">
                            <li>J2EE</li>
                            <li>Resthub</li>
                            <li>Spring</li>
                            <li>BackBoneJS</li>
                            <li>EmberJS</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-2">
                                <i class="fa fa-calendar fa-2x"></i>
                            </div>
                            <div class="col-lg-10">
                                Mars 2014 - Septembre 2014 <br /> (6 mois)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row xp-row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3>Analyste/Programmeur</h3>
                                <span class="company"><a href="http://www.google.fr">Inova Software</a>, Lyon</a></span>
                            </div>
                            <div class="col-lg-2">
                                <img src="img/company/inova.png" class="img-responsive" alt="inova software">
                            </div>
                        </div>
                        <p class="company-desc">Test d’application web de gestion d’idées et portefeuille de brevets.</p>
                        <span class="company-env">J2EE, Struts</span>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-2">
                                <i class="fa fa-calendar fa-2x"></i>
                            </div>
                            <div class="col-lg-10">
                                Avril 2012 - Septembre 2012 <br /> (5 mois)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row xp-row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3>Analyste/Programmeur</h3>
                                <span class="company"><a href="http://www.google.fr">Ecole de Management de Strasbourg</a>, Strasbourg</a></span>
                            </div>
                            <div class="col-lg-2">
                                <img src="img/company/EM.png" class="img-responsive" alt="em strasbourg">
                            </div>
                        </div>
                        <p class="company-desc">Test d’application web de gestion d’idées et portefeuille de brevets.</p>
                        <span class="company-env">J2EE, Struts</span>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-2">
                                <i class="fa fa-calendar fa-2x"></i>
                            </div>
                            <div class="col-lg-10">
                                <span>Mars 2009 - Septembre 2010 <br /> (16 mois)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>